body {
	margin: 0px;
	/* background-color: blue;*/
}

.ramka
{
	border-style: solid;
	border-width: thick;
	border-color: black;
	background-color: yellow;
	margin-right: 680px;
	margin-top: 120;
	margin-left: 60;
}

.ramka2
{
	border-style: solid;
	border-width: thick;
	border-color: black;
	background-color: yellow;
	margin-right: 500px;
}


.plyta1
{
display: flex;
/*justify-content: space-between;*/
/*display: inline-block;*/
/*background-color: red;*/
}

.pl1
{
//text-align: left;
}

.pl2
{
text-align: left;
}

.pl3
{
text-align: left;
}

.tlo
{
/*display: flex;*/
}

.wykon {
display: flex;
}

.linki {
display: flex;
justify-content: space-between;
/*display: inline-block;*/
}

.poz2 {
text-align: right;
/*margin-right: 20px;*/
}

.naglowek
{
text-align: center;
}

.co
{
text-align: center;
}